.option-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 10px;
  border: 2px solid $secondary;
  box-shadow: $short-shadow;
  cursor: pointer;
  &--selected {
    box-shadow: none;
    border-color: $primary;
  }
  &:disabled {
    box-shadow: none;
    opacity: 0.5;
    cursor: default;
  }
  &:hover:enabled {
    transform: scale(1.03);
  }
  &:hover:enabled:active {
    transform: scale(0.97);
    box-shadow: none;
  }
}

.option-buttons-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  gap: 8px;
  justify-items: center;
  margin: 8px 0px;
}

.button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  box-shadow: $long-shadow;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;

  &:disabled {
    background: linear-gradient(180deg, $aux-light 0%, $aux 100%);
    border: 1px solid $aux-dark;
    cursor: default;
    box-shadow: none;
  }
  &:hover:enabled {
    transform: scale(1.03);
  }
  &:hover:enabled:active {
    transform: scale(0.97);
    box-shadow: none;
  }
}

.button--primary {
  background: $gradient-primary;
  border: 1px solid $primary-dark;
}

.button--secondary {
  background: $gradient-background;
  border: 1px solid $background-dark;
}

.small-button {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: white;
  box-shadow: $short-shadow;
  border-radius: 10px;
  padding: 6px;
  background: $gradient-secondary;
  border: 1px solid $secondary-dark;
  cursor: pointer;

  &:disabled {
    background: linear-gradient(180deg, $aux-light 0%, $aux 100%);
    border: 1px solid $aux-dark;
    cursor: default;
    box-shadow: none;
  }
  &:hover:enabled {
    transform: scale(1.03);
  }
  &:hover:enabled:active {
    transform: scale(0.97);
    box-shadow: none;
  }
}

.change-language {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  button {
    margin-right: 4px;
  }
}

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $gradient-background;
  border: 1px solid $background-dark;
  font-weight: 400;
  font-size: 12px;
  line-height: 95%;
  color: white;
  box-shadow: $long-shadow;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;

  .material-icons {
    color: white;
    font-size: 24px;
    margin-bottom: 4px;
  }

  &:disabled {
    background: linear-gradient(180deg, $aux-light 0%, $aux 100%);
    border: 1px solid $aux-dark;
    cursor: default;
    box-shadow: none;
  }
  &:hover:enabled {
    transform: scale(1.03);
  }
  &:hover:enabled:active {
    transform: scale(0.97);
    box-shadow: none;
  }
}
