.main-background {
  width: 100%;
  height: 100vh;
  background: $gradient-aux-light;
  overflow: auto;
}

.main-background--only-text {
  background: $aux-dark;
}

.main-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding: 12px 24px 24px 24px;
}

/** Entrance */
.main-container--only-text,
.main-container--entrance {
  height: 100%;
}
.main-entrance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-logo {
  width: 100%;
  img {
    width: 100%;
  }
  margin-bottom: 24px;
}

/** Only Text **/
.only-text {
  margin-bottom: 24px;
  text-align: center;
  p {
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
}

/** Customization */
.main-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}

.main-settings__stats {
  background: $secondary-light;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.main-settings__size-slider-container {
  width: 100%;
  margin-bottom: 16px;
}
.main-settings__size-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: $secondary-dark;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 5px $secondary;
    box-sizing: border-box;
    background: $secondary-light;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 5px $secondary;
    box-sizing: border-box;
    background: $secondary-light;
    cursor: pointer;
  }
}
/** */

/** MyOshiri */
.main-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-display__name {
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
}

.main-display__wrapping {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $background-scale-1;
}

.main-display__options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 16px 0px 0px 0px;
}

.main-display__options--their-oshiri {
  justify-content: flex-end;
}

.main-actions-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: $aux;
  bottom: 0;
}

.main-actions-container {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.main-actions-container--their-oshiri {
  justify-content: center;
}

.main-actions__set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-actions__value-container {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-actions__value {
  background: $aux-light;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 4px;
  border-radius: 5px;
}

.main-actions__currency {
  font-style: italic;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: white;
}
